.tv2-form-button,
.tv2-input {
    padding: 1vh;
    border-radius: 10px;
    margin-left: 2vh;
    margin-top: 2vh;
}

.tv2-form {
    margin-bottom: 1vh;
    padding: 0 1vh;
}


.tv2-input {
    width: 70%;

}