.tv2-form-button,
.tv2-input {
    padding: 0.5vh;
    border-radius: 10px;
    margin-left: 2vh;
    margin-top: 2vh;
}

.tv2-form {
    margin-bottom: 1vh;
    padding: 0 1vh;
}


.tv2-input {
    width: 70%;

}


@media (max-width: 425px) {

    .tv2-form,
    .tv2-form-button,
    .tv2-input {
        margin: 0;
        padding: 0;
    }

    .tv2-form-button,
    .tv2-input {
        padding: 0.1vh;
    }

    .tv2-input {
        font-size: 2vh;
        margin-right: 1.5vh;
        padding-left: 1vh;
    }

    .tv2-form {
        margin-top: 1vh;
    }
}

@media (max-width: 320px) {
    .tv2-input {
        margin: 0;
    }
}