.tv2-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 25vw;
}

.todo-tv2-container {
    background-color: #6609B3;
    color: white;


}

.tv2-length-task {
    margin-bottom: 2vh;
}

.tv2-title {
    font-weight: bold;
    font-size: 3vh;

}


@media (max-width: 425px) {


    .tv2-container {
        width: 100vw;
        justify-content: center;
    }

    .todo-tv2-container {
        width: 70vw;
        padding: 3vh;
    }

    .tv2-title {
        font-size: 2vh;
    }

}