.tv2-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.todo-tv2-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #6609B3;
    color: white;
    min-height: 50vh;
    max-height: 80vh;
    width: 25vw;
    border-radius: 30px;
    text-align: center;
    overflow: auto;

}

.tv2-length-task {
    margin-bottom: 2vh;
}

.tv2-title {
    font-weight: bold;
    font-size: 3vh;

}


@media (max-width: 425px){
    .todo-tv2-container{
        width: 70vw;
        padding: 3vh;
    }
    .code-description {
        padding: 2vw;
    
    }
}
