.tv3-container {
    width: 25vw;
    text-align: center;
    padding: 0 1vw;
    display: flex;
    flex-direction: column;

}

/* .tv3-todo-container {
    min-height: 50vh;
    max-height: 80vh;
    padding: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
} */

.tv3-title {
    font-weight: bold;
    font-size: 3vh;

}


@media (max-width: 425px) {

    .tv3-container {
        width: 100vw;
        justify-content: center;
        align-items: center;
    }

    .tv3-todo-container {
        width: 80vw;

    }

    .tv3-todo-container {
        padding: 3vh;
    }


    .tv3-title {
        font-size: 2vh;
    }

    .tv3-content-container {
        margin-bottom: 5vh;
    }




}