body {
    background-color: #222;
}

.App {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;

}

.todo {
    min-height: 50vh;
    max-height: 80vh;
    width: 25vw;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    padding: 3vh;
    text-align: center;
}


.title-section {
    display: flex;
    color: #fff;
    margin-top: 2vh;
}


.list-section {
    display: flex;
    gap: 4vh;

}

.title-code {
    background-color: #333;
    padding: 2vh;
    font-size: 2vh;
    margin: 3vh 10vw;
    text-align: center;
}

.code-description {

    text-align: center;
    margin-top: 2vh;
    color: white;
}



@media (max-width: 1080px) {
    .list-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
        margin: 0;
    }

    .code-description {
        padding: 2vw;
        text-align: center;
        margin-top: 2vh;
        width: 80vw;
    }

    .todo-container {
        width: 50vw;
        align-items: center;
    }

    .todo {
        width: 50vw;

    }

}