.tv1-form-container {
  display: flex;
  justify-content: center;
  align-items: center;


}

.tv1-input,
.tv1-button {
  padding: 1vh;
  border-radius: 10px;
  margin-left: 2vh;

}

.tv1-input {
  font-weight: bold;
  font-family: sans-serif;
  width: 70%;
}

@media (max-width: 425px) {

  .tv1-input,
  .tv1-button {
    font-size: 2vh;
    margin-right: 0.5vh;
  }
}

@media (max-width: 320px) {

  .tv1-input,
  .tv1-button {
    font-size: 1.5vh;
    margin: 0;
  }
}