.todo-v1-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    font-family: sans-serif;
    color: #423e4d;
    background-color: #ffcf01;



}

.tv1-container {
    display: flex;
    flex-direction: column;
    width: 25vw;

}

.tv1-header {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 3vh;
}



@media (max-width: 425px) {

    .tv1-container {
        width: 100vw;
        align-items: center;
    }

    .todo-v1-container {
        width: 70vw;
        padding: 3vh;
    }

    .tv1-header {
        font-size: 2vh;
    }

}